{% extends "base.html" %}

{% block content %}
{% load cart %}
{% load custome_filter %}
<div class="container">
   
   <div class="border rounded p-4 m-4">
       <p class="display-4 pl-4 ml-4">Your Cart</p>
       <hr>
       <table class="table">
        <thead>
          <tr>
            <th>Sno.</th>
            <th>Image</th>
            <th>Product_name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>            
          </tr>
        </thead>
        <tbody>
            {% for product in products %}
          <tr>            
            <td>{{forloop.counter}}</td>
            <td><img style="height :80px; width: 80px;" class="rounded-circle" src="{{product.image.url}}"></td>
            <td>{{product.name}}</td>
            <td>{{product.Price|currency}}</td>
            <td>{{product|cart_qty:request.session.cart}}</td>
            <td>{{product|total_price:request.session.cart|currency}}</td>
          </tr>         
          {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4"></th>
                <th>Total</th>
                <th>{{products|total_cart_price:request.session.cart|currency}}</th>
            </tr>
        </tfoot>
      </table>
      
<div class="m-3 p-3">
    <a href="" class="btn btn-outline-info btn-primary border rounded col-lg-3 float-right" data-bs-toggle="modal" data-bs-target="#exampleModal">Check Out</a>
</div>
   </div>

   <!-- Model -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Check Out Form</h5>
          <hr>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
              <form action="/checkout" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <lable for="">Address</lable>
                    <input type"text" name="address" id="" class="form-control" placeholder="" arie-describedby="HelpId">
                </div>
                <div class="form-group">
                    <lable for="">Phone</lable>
                    <input type"text" name="phone" id="" class="form-control" placeholder="" arie-describedby="HelpId">
                </div>
                <input type="submit" class="btn btn-primary float-right" value="Check Out">
            </form>
          </div>
        </div>
       
      </div>
    </div>
  </div>

</div>


{% endblock %}