{% extends 'base.html' %}

{% block content %}
{% load cart %}
<div class="container-fluid mt-3">
    <div class="row">

        <!--filter  -->
        <div class="col-lg-2 mx-auto">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action">All Products</a>
                {% for category in categories %}

                <a href="/?category={{category.id}}"
                    class="list-group-item list-group-item-action">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- all products -->
        <div id="products" class="col-lg-10 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card my-2 mx-2" id={{product.id}} style="width: 18rem;">
                    <img src={{product.image.url}} class="card-img-top" alt="...">
                    <div class="card-body mx-auto mb-2">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <!-- {{ product|is_prd_in_cart:request.session.cart }} -->

                    </div>

                    <div class="card-footer p-0 row no-gutters">
                        {% if product|is_prd_in_cart:request.session.cart  %}
                        <div class="row no-gutters">
                            <form action="/#{{product.id}}" class="col-2" method="POST">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value="{{product.id}}">
                                <input hidden type="text"  name="remove" value='True'>
                                <input type="submit" value="-" class="col-2 btn btn-block btn-secondary">
                            </form> 
                            <div class="text-center col">{{product|cart_qty:request.session.cart}} in cart</div>
                            <form action="/#{{product.id}}" class="col-2" method="POST">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value="{{product.id}}">
                                <input type="submit" value="+" class="col-2 btn btn-block btn-secondary">
                            </form>
                           
                        </div>
                        {% else %}
                        <form action="/#{{product.id}}" method="POST" class="btn-block">
                            {% csrf_token %}
                            <input hidden type="text" name="product" value="{{product.id}}">
                            <input type="submit" class="float-right btn btn-light border
                                form-control" value="Add To Cart">
                        </form>
                        {% endif %}
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}