altgraph==0.17
appdirs==1.4.4
asgiref==3.2.10
cx-Oracle==7.3.0
cycler==0.10.0
distlib==0.3.1
Django==3.1.2
filelock==3.0.12
future==0.18.2
pefile==2019.4.18
Pillow==8.0.1
pygame==1.9.6
PyInstaller==3.6
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
six==1.14.0
sqlparse==0.3.1
virtualenv==20.0.31
xlrd==1.2.0
